<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <title>Backbone App</title>
</head>

<body>
    <h1>Backbone App</h1>
    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>
    <script src="bower_components/backbone/backbone.js" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
    <script type="text/template" id="todo-item-template">
      <span class="input-group-addon">
        <input <%= completed ? "checked=checked" : "" %> type="checkbox">
      </span>
      <input value="<%= val %>" class="form-control<%= completed ? " finished " : " " %>" type="text">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i></button>
      </span>
    </script>
    <script src="js/script.js" charset="utf-8"></script>
</body>

</html>
